# Acces Financial Data through 'Quandl' API with Pandas_datareader

Visualizing data analysis of stock prices

### Imports

In [1]:
#classics
import pandas as pd
import numpy as np

In [2]:
#import pandas_datareader to acces the finance APIs
import pandas_datareader.data as web
import datetime

In [4]:
#plotting libraries 
import matplotlib.pyplot as plt
%matplotlib inline

### Import the Quandl library

In [10]:
import quandl

### Define a variable to hold your api key. This key will be given to you once you subcribe freely to the Quandl Website

In [ ]:
api_key = open('quandl_apikey.txt','r').read()

In [16]:
quandl.ApiConfig.api_key = api_key

### Quandl WIKI was the most commonly used API for financial data queries in the platform, it was managed by an open community. Due to the unavailability of some of the main data source it became no longer reliable and stopped updating since March 27, 2018

### Get the Data

We will be using the stock index of  **Apple**

**Apple Data : **

In [20]:
d = quandl.get('WIKI/AAPL')

In [21]:
d.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0

### Quandl starts its table with the most ancient data